<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>jums.Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertconfirm</servlet-name>
        <servlet-class>jums.InsertConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertresult</servlet-name>
        <servlet-class>jums.InsertResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>jums.SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestCon</servlet-name>
        <servlet-class>jums.TestCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToBeans</servlet-name>
        <servlet-class>jums.ToBeans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>jums.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>jums.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>jums.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertconfirm</servlet-name>
        <url-pattern>/insertconfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertresult</servlet-name>
        <url-pattern>/insertresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestCon</servlet-name>
        <url-pattern>/TestCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToBeans</servlet-name>
        <url-pattern>/ToBeans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
